name: CD - Stress testing

on:
  push:
    branches: [main]

permissions:
      contents: 'read'
      id-token: 'write'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker ${{ secrets.GAR_LOCATION }}-docker.pkg.dev

      - name: Build Docker Image
        run: |
          IMAGE=${{ secrets.GAR_LOCATION }}-docker.pkg.dev/${{ secrets.PROJECT_ID }}/${{ secrets.GAR_REPO }}/iris-api:${{ github.sha }}
          docker build -t $IMAGE .
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

      - name: Authenticate to artifact
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Push Image to Artifact Registry
        run: |
          docker push $IMAGE

      - name: Set up GKE Credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ secrets.CLUSTER_NAME }}
          location: ${{ secrets.CLUSTER_REGION }}
          project_id: ${{ secrets.PROJECT_ID }}

      - name: Apply Kubernetes Manifests (if not already exists)
        run: |
          kubectl apply -f k8s/deployment.yml
          kubectl apply -f k8s/service.yml

      - name: Deploy to GKE
        run: |
          kubectl set image deployment/iris-api iris-api=$IMAGE      

  stress-test:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Install wrk
        run: |
          sudo apt update
          sudo apt install -y build-essential libssl-dev git
          git clone https://github.com/wg/wrk.git /tmp/wrk
          cd /tmp/wrk && make && sudo cp wrk /usr/local/bin/
      - name: Create post.lua
        run: |
          cat > post.lua <<'EOF'
          wrk.method = "POST"
          wrk.headers["Content-Type"] = "application/json"
          wrk.body = '[[5.1, 3.5, 1.4, 0.2]]'
          EOF
      - name: Run wrk stress test
        run: |
          wrk -t12 -c1000 -d60s -s post.lua http://${{ secrets.SERVICE_EXTERNAL_IP }}:8200/predict/ | tee wrk_output.txt
      - name: Upload results
        uses: actions/upload-artifact@v3
        with:
          name: wrk-results
          path: wrk_output.txt
